* {
  /* border:1px solid red; */
  font-family: "Roboto";
}
.main {
}
.container {
  display: flex;
  margin: auto;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 720px;
  width: 1560px;
}
.left {
  margin: 72px 162px 0px 166px;
}
.left img {
  border-radius: 50%;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 31px #0000000a;
  /* margin: 72px 0px 72px 166px; */
  margin: 72px 0px 72px 0;
}

.right img {
  /* margin: 106px 0 0 164px; */
  margin: 106px 0 0 0;
  width: 272px;
  height: 58px;
}

.right h1 {
  /* margin: 19.17px 0 0 163px; */
  margin: 19.17px 0 0 0;
  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  width: 500px;
  height: 100px;
}
.right h1 span {
  font: normal normal 900 40px/53px Roboto;
  color: #c8242f;
}
.right h2 {
  /* margin: 31.87px 0 0 162px; */
  margin: 31.87px 0 0 0;
  text-align: left;
  font: normal normal normal 25px/33px Roboto;
  font-weight: lighter;
}

.formFields {
  display: flex;
  flex-direction: column;
}

#username {
  /* margin: 23.45px 0 0 164.5px; */
  margin: 23.45px 0 0 0;
  width: 429px;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}
#password {
  /* margin: 27px 0 0 164.5px; */
  margin: 27px 0 0 0;
  width: 429px;
  height: 49px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}
input {
  text-indent: 14.5px;
  font: normal normal normal 15px/20px Roboto;
}
#loginBtn {
  /* margin: 30.5px 0 0 164px; */
  margin: 30.5px 0 0 0;
  width: 138px;
  height: 45px;
  /* UI Properties */
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  color: white;
  font: normal normal medium 18px/24px Roboto;
  font-size: 18px;
  border-color: red;
}

#forgotPassword {
  margin: 42.63px 0 0 170.44px;
  /* margin: 42.63px 0 0 0; */
  width: 121px;
  height: 20px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  text-decoration: none;
}
.formFields p {
  /* margin: 23.13px 0 0 164px; */
  margin: 23.13px 0 0 0;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
}
.formFields p a {
  text-decoration: none;
  font: normal normal normal 15px/20px Roboto;
  /* color: #c8242f; */
}
/* 

(min-width:1024px) and
(min-width:768px) and
(min-width:480) and

*/

@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 392px) {
  .container {
    width: fit-content;
  }
  .left {
    margin-top: -92px;
    transform: scale(0.7, 0.7);
  }
  .right {
    margin-top: -240px;
    transform: scale(0.7, 0.7);
  }
}

/* *************************************             Dashboard CSS        *********************************************/

.dashboard-container {
  height: 1359px;
  max-width: 1560px;
  margin: auto;
}

.dashboard-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.dashboard-left {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-right {
  /* width: 1319px; */
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dashboard-menubar {
  /* margin-right: 25px; */
}
#dashboard-search-icon {
  margin-left: 48.67px;
  width: 16px;
  height: 16px;
}
#dashboard-search-bar {
  border-style: none;
  /* margin-left: 14.74px; */
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
}
#dashboard-notification {
  /* margin-left: 775.2px; */
}
#dashboard-profile {
  width: 44px;
  height: 44px;
  background: transparent url("img/Ellipse 19.png") 0% 0% no-repeat padding-box;
  margin-left: 52.28px;
}
#dashboard-username {
  margin-left: 12px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
}
#dashboard-downward-arrow {
  margin-left: 14.54px;
}

.dashboard-left-navbar {
  /* width: 242px; */
  height: 1279px;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
}
.dashboard-nav-buttons {
  width: 183px;
  height: 43px;
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  padding: 25px 29px 0 30px;
}
#dashboard-active-icon {
  width: 15px;
  height: 15px;
}
.dashboard-nav-text {
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  font-size: 16px;
  letter-spacing: 0px;
  color: #3e3e3e;
}
.dashboard-nav-buttons img {
  height: 15px;
  /* width: 15px; */
  padding-left: 17.5px;
  padding-right: 12.5px;
}
.dashboard-active {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
}

.dashboard-main-wrapper {
  display: flex;
}
.dashboard-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fafafa;
}
.dashboard-header-text {
  text-align: left;
  font: normal normal medium 30px/39px Roboto;
  color: #000000;
  font-size: 30px;
  height: 39px;
  /* margin-left: 48px; */
  padding: 30px 0 30px 48px;
}
.dashboard-insights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  /* width: 1217px; */
  padding: 0 50px;
}
.dashboard-insights-items {
  display: flex;
  flex-direction: row;
}
.dashboard-insights-items-texts {
  display: flex;
  flex-direction: column;
}
.dashboard-insights-items-texts p {
  margin: 0;
}
.dashboard-insights-items-logo {
  align-self: center;
  padding-right: 19.33px;
}
.dashboard-insights-items-logo img {
  height: 30px;
  width: 30px;
}
.insights-number {
  text-align: left;
  font: normal normal medium 25px/33px Roboto;
  font-weight: 500;
  color: #3e3e3e;
  font-size: 25px;
}
.insights-text {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  color: #3e3e3e;
  font-weight: 400;
  font-size: 15px;
}
.dashboard-insights-items-wrapper {
  width: 160px;
  height: 116px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-graphs {
  display: flex;
  /* width: 1217px; */
  justify-content: space-between;
  height: 400px;
  padding: 0 50px;
  margin-top: 30px;
  /* background-color: aquamarine; */
}
.dashboard-graphs img{
  height: 100%;
  width: 100%;
}
.dashboard-left-graph {
  background-color: white;
  border-radius: 5px;
  /* width: 802px; */
  height: 400px;
  margin-right: 30px;
}
.graph-text {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
#graph-text-sale {
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 500;
}
.graph-text p {
  padding: 24px 21px 0 0;
}
.graph-text-utilities {
  display: flex;
  justify-content: space-between;
  margin-right: 21px;
}
.graph-text-utilitis-weekly-monthly {
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  font-size: 12px;
  font-weight: 400;
}
#yearly-text-in-graph {
  font: normal normal normal 12px/16px Roboto;
  color: #c8242f;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}
.graph-left-image {
  padding: 24px 0 0 28px;
}

.dashboard-right-graph {
  /* width: 385px; */
  height: 398px;
  background-color: white;
  border-radius: 5px;
}
#dashboard-graph-right-text {
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-size: 22px;
  padding: 22px 0 0 29px;
  font-weight: 500;
}
.dashboard-right-graph-image {
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 28px 0 0 80px;
  width: 246px;
  height: 246px;
}
.dashboard-right-graph-bullets {
  display: grid;
  grid-template-columns: 193px max-content;
  grid-column-gap: 26px;
  grid-row-gap: 18px;
  padding-left: 49px;

  font: normal normal normal 15px/20px Roboto;
  color: #3e3e3e;
  font-size: 15px;
  font-weight: 400;
}

::marker {
  font-size: 18px;
}
#li-1::marker {
  color: #c8242f;
}
#li-2::marker {
  color: #a2b86c;
}
#li-3::marker {
  color: #f16c20;
}
#li-4::marker {
  color: #ebc844;
}
.dashboard-invoices-wrapper {
  /* width: 1217px; */
  height: 558px;
  margin: 30px 51px 0 50px;
  background-color: white;
  border-radius: 5px;
}
.dashboard-invoices {
  /* background-color: darkkhaki; */
  display: flex;
}

.dashboard-invoices-header {
  display: flex;
  margin: 22.52px 29px 0 29px;
  width: 100%;
  justify-content: space-between;
}

#dashboard-invoices-header-left {
  font: normal normal medium 22px/29px Roboto;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 22px;
}
#dashboard-invoices-header-text-right {
  font: normal normal normal 12px/16px Roboto;
  color: #c8242f;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}
#dashboard-invoice-table {
  /* width: 100%;
  text-align: left;
  padding: 29px;
  height: 468.67px;
  color: #3e3e3e;
  font-size: 15px; */
  margin-top: 35px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
}

#last-row-of-invoice td {
  border: none;
}
.invoice-status-box-paid {
  width: 50px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.invoice-status-box-failed {
  width: 60px;
  height: 26px;
  text-align: center;
  font: normal normal normal 15px/20px Roboto;
  color: #ff4545;
  line-height: 26px;
  background: #fff5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.invoice-status-box-pending {
  width: 75px;
  height: 26px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font: normal normal normal 15px/20px Roboto;
  color: #bababa;
}

#dashboard-invoice-table th {
  /* text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
  font-weight: 200;
  font-size: 15px; */
}

#checkbox-left-nav {
  /* display: none; */
}
#chck1 {
  /* position: absolute;
    left: 30px;
    width: 24px;
    top: 35px;
    height: 24px; */
  /* z-index: -1; */
  border: none;
  display: none;
}
#dashboard-menubar-dummy {
  display: none;
}

@media screen and (max-width: 1560px) {
  .dashboard-container {
    width: 100vw;
    overflow-x: auto;
  }
}
@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 767px) {
  .dashboard-left-navbar {
    display: none;
  }

  #chck1:checked ~ .dashboard-left-navbar {
    display: flex;
    transform: scale(3.5, 3.5);
    transform-origin: left top;
    align-items: center;
    background-color: white;
    z-index: 1;
  }
  #chck1:checked ~ .dashboard-left-navbar .dashboard-nav-buttons {
    margin: 0;
  }

  #dashboard-menubar {
    visibility: hidden;
  }
  #dashboard-menubar-dummy {
    margin-left: 30px;
    display: inline;
    position: absolute;
    left: 30px;
    top: 110px;

    transform: scale(2.5, 2.5);
    transform-origin: left;
  }

  .dashboard-header {
    width: fit-content;
    margin-top: 40px;
  }
  .dashboard-left {
    width: 100%;
    transform: scale(1.9, 1.9);
    transform-origin: left;
  }
  .dashboard-right {
    width: 100%;
    transform: scale(1.9, 1.9);
    transform-origin: right;
  }
  .dashboard-main-wrapper {
    margin-top: 100px;
  }

  .dashboard-insights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 1fr;
    scale: 1.15;
  }
  .dashboard-insights-items-texts p {
    font-size: 24px;
  }
  .dashboard-graphs {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 30px;
  }
  .dashboard-left-graph {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
  }
  .graph-left-image img {
    width: 100%;
  }
  .dashboard-right-graph {
    width: 100%;
    height: fit-content;
    align-items: center;
    margin-top: 30px;
  }
  .dashboard-right-graph-image {
    width: 100%;
    justify-content: center;
    height: 400px;
    margin: 30px 0 0 30px;
  }
  .dashboard-right-graph-bullets {
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: center;
    font-size: 1.6em;
    column-gap: 190px;
  }
  #dashboard-graph-right-text{
    font-size: 2.6em;
  }
  .dashboard-graph-right-text {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  /* #dashboard-menubar-dummy {
    margin-right: 25px;
    display: inline;
    position: absolute;
    top: 90px;
    transform: scale(3.5, 3.5);
    transform-origin: left top;
  }

  .dashboard-header {
    width: fit-content;
    height: 90px;
  }
  .dashboard-left {
    width: 100%;

    transform: scale(2.7, 2.7);
    transform-origin: left top;
  }
  .dashboard-right {
    width: 100%;

    transform: scale(2.7, 2.7);
    transform-origin: right top;
  }
  .dashboard-main-wrapper {
    margin-top: 150px;
  } */
}
@media screen and (max-width: 392px) {
  #dashboard-menubar-dummy {
    margin-right: 25px;
    display: inline;
    position: absolute;
    top: 90px;
    transform: scale(3.5, 3.5);
    transform-origin: left top;
  }
  #dashboard-notification {
    margin-left: 700px;
  }
  .dashboard-header {
    width: fit-content;
    height: 90px;
  }
  .dashboard-left {
    width: 100%;

    transform: scale(2.7, 2.7);
    transform-origin: left top;
  }
  .dashboard-right {
    width: 100%;

    transform: scale(2.7, 2.7);
    transform-origin: right top;
  }
  .dashboard-main-wrapper {
    margin-top: 150px;
  }
  .dashboard-left-navbar {
  }
}

/* *****************************INNER PAGE CSS************************* */

.innerpage{
  max-width: 1560px;
  min-height: fit-content;
  margin:0px auto 0px auto;

  
}


.analysis-form {
  width: 1318px;
  padding: 40.75px 50px 40px 50px;
}
.page-title h5 {
  width: 113px;
  height: 39px;
  text-align: left;
  letter-spacing: 0px;
  font-family: roboto;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.analysis-form-wrapper {
  padding: 22.5px 30.5px 22.5px 30.5px;
}
.sub-title span {
  width: 121px;
  height: 29px;
  font-size: 22px;
  font-family: Roboto;
  color: #3e3e3e;
}
.sub-title {
  margin-top: 22.52px;
  margin-bottom: 15px;
}
.one-column {
  margin-bottom: 44.2px;
}
.two-field {
  width: 563px;
  height: 49px;
  border: 1px solid #adadad;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}
.did-floating-label {
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}
.two-column {
  margin-bottom: 44.2px;
}
.three-column-field {
  width: 364px;
  height: 47px;
  border-radius: 5px;
}
.three-column {
  margin-bottom: 35.02px;
}
.four-column {
  width: 266px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
}
.four-column-main {
  margin-bottom: 43.42px;
}
.upload-btn {
  width: 124px;
  height: 36px;
  border: 1px solid #c8242f;
  border-radius: 18px;
}
.upload-file-text span {
  width: 91px;
  height: 16px;
  font-family: Roboto;
  font-size: 12px;
  color: #adadad;
}
.upload {
  margin-bottom: 36.15px;
}
.sub-title-2 {
  height: 24px;
  font-size: 18px;
  font-family: Roboto;
  color: #3e3e3e;
  margin-bottom: 15.85px;
  font-weight: bold;
}

input[type="radio"] {
  accent-color: #ff0000;
}
.radio-button {
  margin-bottom: 32.52px;
}

.contain {
  display: block;
  position: relative;
  /* / padding-left: 35px; /
  / margin-bottom: 12px; / */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* / Hide the browser's default checkbox / */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* / Create a custom checkbox / */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}
.contain input:checked ~ .checkmark {
  background-color: red;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.contain input:checked ~ .checkmark:after {
  display: block;
}
.contain .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check-text {
  position: relative;
  margin-left: 20px;
  top: -3px;
}
.check-box {
  margin-bottom: 33px;
}
.snakes {
  margin-bottom: 34.15px;
}
.snack {
  width: 563px;
  height: 44px;
  padding: 5px;
}
.snack-img {
  height: 20px;
  width: 20px;
}
.snack-1 {
  border: 1px solid #ff3535;
  color: #ff3535;
}
.snack-2 {
  border: 1px solid #00b9e1;
  color: #00b9e1;
}
.snack-3 {
  border: 1px solid #ffa800;
  color: #ffa800;
}
.snack-4 {
  border: 1px solid #00af27;
  color: #00af27;
}
.button-1 {
  width: 124px;
  height: 45px;
  color: white;
  background: #c8242f;
  border-radius: 23px;
}
.button-2 {
  width: 145px;
  height: 44px;
  color: #c8242f;
  border: 1px solid #c8242f;
  border-radius: 22px;
  margin-left: 20.5px;
}
.call-to-action {
  margin-bottom: 34.65px;
}
.active-tab {
  border-bottom: 3px solid red;
  color: #c8242f;
}
.tab {
  width: 70px;
  font-size: 15px;
  font-family: roboto;

  margin-right: 10px;
  padding-bottom: 13.37px;
}
.line hr {
  height: 1px;
  position: relative;
  top: -18px;
}

/* / /// inner page responsive  /// / */
@media only screen and (min-width: 1316px) and (max-width: 1540px) {
  .two-field {
    width: 450px;
  }
  .three-column-field {
    width: 300px;
  }
  .four-column {
    width: 200px;
  }
  .snack {
    width: 450px;
  }
}
@media only screen and (min-width: 872px) and (max-width: 1315px) {
  .two-field {
    width: 350px;
  }
  .three-column-field {
    width: 200px;
  }
  .four-column {
    width: 150px;
  }
  .snack {
    width: 350px;
  }
}
@media only screen and (min-width: 746px) and (max-width: 871px) {
  .four-columns-inputs {
    flex-direction: column;
  }
  .two-column-input-1 {
    flex-direction: column;
  }
  .two-column-input-2 {
    flex-direction: column;
  }
  .snacks-fields-1 {
    flex-direction: column;
  }
  .snacks-fields-2 {
    flex-direction: column;
  }

  .two-field {
    width: 500px;
    margin-bottom: 10px;
  }
  .three-column-field {
    width: 200px;
  }
  .four-column {
    width: 350px;
  }
  .snack {
    width: 500px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 746px) and (max-width: 780px) {
  .three-column-field {
    width: 400px;
  }
  .three-column-inputs {
    flex-direction: column;
  }
}
@media only screen and (min-width: 360px) and (max-width: 745px) {
  .analysis-form {
    width: 100%;
    padding: 10.75px 15px 10px 15px;
  }
  .four-columns-inputs {
    flex-direction: column;
  }
  .two-column-input-1 {
    flex-direction: column;
  }
  .two-column-input-2 {
    flex-direction: column;
  }
  .snacks-fields-1 {
    flex-direction: column;
  }
  .snacks-fields-2 {
    flex-direction: column;
  }
  .three-column-inputs {
    flex-direction: column;
  }
  .two-field {
    width: 100%;
    margin-bottom: 10px;
  }
  .three-column-field {
    width: 60%;
    margin-bottom: 10px;
  }
  .four-column {
    width: 60%;
    margin-bottom: 10px;
  }
  .snack {
    width: 100%;
    margin-bottom: 10px;
  }
}