* {
  /* border:1px solid red; */
  font-family: "Roboto";
}
.main {
}
.container {
  display: flex;
  margin: auto;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 720px;
  width: 1560px;
}
.left {
  margin: 72px 162px 0px 166px;
}
.left img {
  border-radius: 50%;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 31px #0000000a;
  /* margin: 72px 0px 72px 166px; */
  margin: 72px 0px 72px 0;
}

.right img {
  /* margin: 106px 0 0 164px; */
  margin: 106px 0 0 0;
  width: 272px;
  height: 58px;
}

.right h1 {
  /* margin: 19.17px 0 0 163px; */
  margin: 19.17px 0 0 0;
  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  width: 500px;
  height: 100px;
}
.right h1 span {
  font: normal normal 900 40px/53px Roboto;
  color: #c8242f;
}
.right h2 {
  /* margin: 31.87px 0 0 162px; */
  margin: 31.87px 0 0 0;
  text-align: left;
  font: normal normal normal 25px/33px Roboto;
  font-weight: lighter;
}

.formFields {
  display: flex;
  flex-direction: column;
}

#username {
  /* margin: 23.45px 0 0 164.5px; */
  margin: 23.45px 0 0 0;
  width: 429px;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}
#password {
  /* margin: 27px 0 0 164.5px; */
  margin: 27px 0 0 0;
  width: 429px;
  height: 49px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}
input {
  text-indent: 14.5px;
  font: normal normal normal 15px/20px Roboto;
}
#loginBtn {
  /* margin: 30.5px 0 0 164px; */
  margin: 30.5px 0 0 0;
  width: 138px;
  height: 45px;
  /* UI Properties */
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  color: white;
  font: normal normal medium 18px/24px Roboto;
  font-size: 18px;
  border-color: red;
}

#forgotPassword {
  margin: 42.63px 0 0 170.44px;
  /* margin: 42.63px 0 0 0; */
  width: 121px;
  height: 20px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  text-decoration: none;
}
.formFields p {
  /* margin: 23.13px 0 0 164px; */
  margin: 23.13px 0 0 0;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
}
.formFields p a {
  text-decoration: none;
  font: normal normal normal 15px/20px Roboto;
  /* color: #c8242f; */
}
/* 

(min-width:1024px) and
(min-width:768px) and
(min-width:480) and

*/

@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 392px) {
  .container {
    width: fit-content;
  }
  .left {
    margin-top: -92px;
    transform: scale(0.7, 0.7);
  }
  .right {
    margin-top: -240px;
    transform: scale(0.7, 0.7);
  }
}

/* *************************************             Dashboard CSS        *********************************************/

.dashboard-container {
  height: 1359px;
  width: 1560px;
  margin: auto;
}

.dashboard-header {
  height: 80px;
  display: flex;
  justify-content: center;
}

.dashboard-left {
  width: 242px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-right {
  /* width: 1319px; */
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dashboard-menubar {
  margin-right: 25px;
}
#dashboard-search-icon {
  margin-left: 48.67px;
  width: 16px;
  height: 16px;
}
#dashboard-search-bar {
  border-style: none;
  margin-left: 14.74px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
}
#dashboard-notification {
  margin-left: 775.2px;
}
#dashboard-profile {
  width: 44px;
  height: 44px;
  background: transparent url("img/Ellipse 19.png") 0% 0% no-repeat padding-box;
  margin-left: 52.28px;
}
#dashboard-username {
  margin-left: 12px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
}
#dashboard-downward-arrow {
  margin-left: 14.54px;
}

.dashboard-left-navbar {
  width: 242px;
  height: 1279px;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
}
.dashboard-nav-buttons {
  width: 183px;
  height: 43px;
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  margin: 25px 29px 0 30px;
}
#dashboard-active-icon {
  width: 15px;
  height: 15px;
}
.dashboard-nav-text {
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  font-size: 16px;
  letter-spacing: 0px;
  color: #3e3e3e;
}
.dashboard-nav-buttons img {
  height: 15px;
  /* width: 15px; */
  padding-left: 17.5px;
  padding-right: 12.5px;
}
.dashboard-active {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
}

.dashboard-main-wrapper {
  display: flex;
  justify-content: center;
}
.dashboard-main-content {
  display: flex;
  flex-direction: column;
  width: 1318px;
  background: #fafafa;
}
.dashboard-header-text {
  text-align: left;
  font: normal normal medium 30px/39px Roboto;
  color: #000000;
  font-size: 30px;
  height: 39px;
  margin-left: 48px;
  margin: 30px 0 30px 48px;
}
.dashboard-insights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 1217px;
  margin-left: 50px;
}
.dashboard-insights-items {
  display: flex;
  flex-direction: row;
}
.dashboard-insights-items-texts {
  display: flex;
  flex-direction: column;
}
.dashboard-insights-items-texts p {
  margin: 0;
}
.dashboard-insights-items-logo {
  align-self: center;
  margin-right: 19.33px;
}
.dashboard-insights-items-logo img {
  height: 30px;
  width: 30px;
}
.insights-number {
  text-align: left;
  font: normal normal medium 25px/33px Roboto;
  font-weight: 500;
  color: #3e3e3e;
  font-size: 25px;
}
.insights-text {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  color: #3e3e3e;
  font-weight: 400;
  font-size: 15px;
}
.dashboard-insights-items-wrapper {
  width: 219px;
  height: 116px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-graphs {
  display: flex;
  width: 1217px;
  height: 400px;
  margin-left: 50px;
  margin-top: 30px;
  /* background-color: aquamarine; */
}
.dashboard-left-graph {
  background-color: white;
  border-radius: 5px;
  width: 802px;
  height: 400px;
  margin-right: 30px;
}
.graph-text {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
#graph-text-sale {
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 500;
}
.graph-text p {
  margin: 24px 21px 0 0;
}
.graph-text-utilities {
  display: flex;
  justify-content: space-between;
  margin-right: 21px;
}
.graph-text-utilitis-weekly-monthly {
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  font-size: 12px;
  font-weight: 400;
}
#yearly-text-in-graph {
  font: normal normal normal 12px/16px Roboto;
  color: #c8242f;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}
.graph-left-image {
  margin: 24px 0 0 28px;
}

.dashboard-right-graph {
  width: 385px;
  height: 398px;
  background-color: white;
  border-radius: 5px;
}
#dashboard-graph-right-text {
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-size: 22px;
  margin: 22px 0 0 29px;
  font-weight: 500;
}
.dashboard-right-graph-image {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 28px 0 0 80px;
  width: 246px;
  height: 246px;
}
.dashboard-right-graph-bullets {
  display: grid;
  grid-template-columns: 193px max-content;
  grid-column-gap: 26px;
  grid-row-gap: 18px;
  margin-left: 49px;

  font: normal normal normal 15px/20px Roboto;
  color: #3e3e3e;
  font-size: 15px;
  font-weight: 400;
}

::marker {
  font-size: 18px;
}
#li-1::marker {
  color: #c8242f;
}
#li-2::marker {
  color: #a2b86c;
}
#li-3::marker {
  color: #f16c20;
}
#li-4::marker {
  color: #ebc844;
}
.dashboard-invoices-wrapper {
  /* width: 1217px; */
  height: 558px;
  margin: 30px 51px 0 50px;
  background-color: white;
  border-radius: 5px;
}
.dashboard-invoices {
  /* background-color: darkkhaki; */
  display: flex;
}

.dashboard-invoices-header {
  display: flex;
  margin: 22.52px 29px 0 29px;
  width: 1217px;
  justify-content: space-between;
}

#dashboard-invoices-header-left {
  font: normal normal medium 22px/29px Roboto;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 22px;
}
#dashboard-invoices-header-text-right {
  font: normal normal normal 12px/16px Roboto;
  color: #c8242f;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}
#dashboard-invoice-table {
  width: 100%;
  text-align: left;
  padding: 29px;
  height: 468.67px;
  color: #3e3e3e;
  font-size: 15px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
}

#last-row-of-invoice td {
  border: none;
}
.invoice-status-box-paid {
  width: 50px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.invoice-status-box-failed {
  width: 60px;
  height: 26px;
  text-align: center;
  font: normal normal normal 15px/20px Roboto;
  color: #ff4545;
  line-height: 26px;
  background: #fff5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.invoice-status-box-pending {
  width: 75px;
  height: 26px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font: normal normal normal 15px/20px Roboto;
  color: #bababa;
}

#dashboard-invoice-table th {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
  font-weight: 200;
  font-size: 15px;
}

#checkbox-left-nav {
  /* display: none; */
}
#chck1 {
  /* position: absolute;
    left: 30px;
    width: 24px;
    top: 35px;
    height: 24px; */
  /* z-index: -1; */
  border: none;
  display: none;
}
#dashboard-menubar-dummy {
  display: none;
}

@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
  .dashboard-left-navbar {
    display: none;
  }

  #chck1:checked ~ .dashboard-left-navbar {
    display: flex;
    transform: scale(3.5, 3.5);
    transform-origin: left top;
    align-items: center;
    background-color: white;
  }
  #chck1:checked ~ .dashboard-left-navbar .dashboard-nav-buttons {
    margin: 0;
  }

  #dashboard-menubar {
    visibility: hidden;
  }
  #dashboard-menubar-dummy {
    margin-right: 25px;
    display: inline;
    position: absolute;
    left: 30px;
    width: 24px;
    top: 35px;
    height: 24px;
  }

  .dashboard-header{
    width: fit-content;
  }
  .dashboard-left{
    width: 242px;
  }
}

@media screen and (max-width: 479px) {
}
@media screen and (max-width: 392px) {
}

/* *****************************INNER PAGE CSS************************* */
.analysis-main-content {
  width: 1218px;
  height: 1749px;
  background-color: #ffffffd4;
  margin-left: 50px;
}
.analysis-form-header {
  margin: 22.52px 0 0 29px;
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-size: 22px;
  font-weight: 500;
}
.analysis-main-content-form-tags {
  margin: 14.98px 30.5 0 30.5px;
}
.file-upload-header-of-inner {
  text-align: left;
  font: normal normal medium 18px/24px Roboto;
  color: #3e3e3e;
  font-size: 18px;
}
.upload-image-and-text-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 124px;
  height: 36px;
  border: 1px solid #c8242f;
  border-radius: 18px;
}

#flexRadioDefault1:after {
  /* background-color: #C8242F; */
}
#flexRadioDefault1:checked:after {
  background-color: #c8242f;
}
#flexRadioDefault2:after {
  /* background-color: #C8242F; */
}
#flexRadioDefault2:checked:after {
  background-color: #c8242f;
}
input[type="checkbox"] {
  accent-color: #c8242f;
}

.snackbar-images img {
  width: 15px;
  height: 15px;
}
#call-to-action-primary {
  width: 124px;
  height: 45px;
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  margin-right: 20.5px;
}
#call-to-action-secondary {
  width: 145px;
  height: 44px;
  border: 1px solid #c8242f;
  border-radius: 22px;
}
.analysis-main-content input {
  border: 1px solid #adadad;
  border-radius: 5px;
}
.analysis-main-content input ::placeholder {
  opacity: 0.5;
}
.third-column-disable-input {
  border: 1px dashed gray;
}
